.search__main {
    width: 1256px;
    display: flex;
    flex-basis: 0 1 0;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    background-color: #FF5F15;
    margin: 80px auto;
    position: relative;
    padding: 0 120px;
  }
  
  .search__sub {
    position: absolute;
    left: 150px;
  }
  
  .search__sub .search__find {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  
  .menu{
    position: relative;
  }
  .menu .itme{
    font-family: 'poppins';
    color:white;
    font-size: 14px;
    letter-spacing: .5px;
  }
  .menu .link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px 36px;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu .link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #0a3cff; */
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu .link svg {
    width: 14px;
    height: 14px;
    fill: white;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu .item {
    position: relative;
    overflow: visible;
  }
  .menu .item .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-12px);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
    pointer-events: none;
    list-style: none;
  }
  
  .menu .item:hover .submenu {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  .menu .item:hover .link {
    color: #ffffff;
    border-radius: 16px 16px 0 0;
  }
  
  .menu .item:hover .link::after {
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .menu .item:hover .link svg {
    fill: #ffffff;
    transform: rotate(-180deg);
  }
  
  .submenu .submenu-item {
    width: 100%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-link {
    display: block;
    padding: 12px 24px;
    width: 100%;
    position: relative;
    text-align: center;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-item:last-child .submenu-link {
    border-bottom: none;
  }
  
  .submenu .submenu-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 100%;
    background-color: #FF5F15;
    z-index: -1;
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-link:hover:before {
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .submenu .submenu-link:hover {
    color: #ffffff;
  }

  /* third_searchbar___start */
  .search3 {
    /* flex: 0 0 20%; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    /* width:100px; */
  }
  
  .search3__input {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    color: #000000;
    align-items: center;
    /* width: fit-content; */
    background-color: white;
    border: none;
    padding: 14px 72px 14px 42px;
    border-radius: 30px;
    width: 220px;
    height: 40px;
    margin-left: -34px;
    margin-right: -66px;
    transition: all 0.2s;
  }
  
  .search3__input:focus {
    outline:none;
    /* width: 80%;  */
    background-color: #f0eeee;
  }
  
  .search3__input::-webkit-input-placeholder {
    font-size: 14px;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    font-weight: 500;
    color: #000000;
  }
  
  .search3__button {
    border: none;
    /* height: -100px; */
    background-color: transparent;
    z-index: 999;
    cursor: pointer;
  }
  
  .search3__button:focus {
    outline: none;
  }
  
  .search3__button:active {
    transform: translateY(2px);
  }
  
  .search3__icon {
    height:25px;
    width: 20px;
    fill: #000000;
  }
  .search3 .mic__button{
    position: relative;

  }
  .search3 .submenu {
    display: none;
    position: absolute;
    top: 80%;
    background-color: white;

    /* top: 110%;
    left: -100px; */
    width: fit-content;
    overflow: hidden;
    border: 1px solid #cccccc;
    border-radius: 0 0 16px 16px;
    opacity: 0;
    transform: translateY(-12px);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
    pointer-events: none;
    list-style: none;
  }
  .search3:hover .submenu {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  .search3 .mic__button:hover {
    color: black;
    border-radius: 16px 16px 0 0;
  }
  
  .search3 .mic__button:hover::after {
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .search3  .mic__button:hover svg {
    fill: black;
    transform: rotate(-180deg);
  }

  /* third_searchbar__end */

  /* second_searchbar__start */
  .search2 {
    /* flex: 0 0 20%; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    /* width:100px; */
  }
  
  .search2__input {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    color: #000000;
    align-items: center;
    /* width: fit-content; */
    background-color: white;
    border: none;
    padding: 14px 72px 14px 42px;
    border-radius: 30px;
    width: 220px;
    height: 40px;
    margin-left: -34px;
    margin-right: -66px;
    transition: all 0.2s;
  }
  
  .search2__input:focus {
    outline:none;
    /* width: 80%;  */
    background-color: #f0eeee;
  }
  
  .search2__input::-webkit-input-placeholder {
    font-size: 14px;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    font-weight: 500;
    color: #000000;
  }
  
  .search2__button {
    border: none;
    /* height: -100px; */
    background-color: transparent;
    z-index: 999;
    cursor: pointer;
  }
  
  .search2__button:focus {
    outline: none;
  }
  
  .search2__button:active {
    transform: translateY(2px);
  }
  
  .search2__icon {
    height:25px;
    width: 20px;
    fill: #000000;
  }
  .search2 .mic__button{
    position: relative;

  }
  .search__bar .search2 .submenu {
    display: none;
    position: absolute;
    top: 80%;
    background-color: white;

    /* top: 110%;
    left: -100px; */
    width: fit-content;
    overflow: hidden;
    border: 1px solid #cccccc;
    border-radius: 0 0 16px 16px;
    opacity: 0;
    transform: translateY(-12px);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
    pointer-events: none;
    list-style: none;
  }
  .search__bar .search2:hover .submenu {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  .search2 .mic__button:hover {
    color: black;
    border-radius: 16px 16px 0 0;
  }
  
  .search2 .mic__button:hover::after {
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .search2 .mic__button:hover svg {
    fill: black;
    transform: rotate(-180deg);
  }
  
/* second_searchbar__end */

  /* .search .search__bar{
    display: flex;
  } */

  /* first_search___bar */
  .search1 {
    /* flex: 0 0 20%; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    /* width:100px; */
  }
  
  .search1__input {
    font-family: 'poppins';
    font-size: 17px;
    /* color: #000000; */
    align-items: center;
    /* width: fit-content; */
    background-color: white;
    border: none;
    padding: 14px 72px 14px 42px;
    border-radius: 30px;
    width: 220px;
    height: 40px;
    margin-left: -34px;
    margin-right: -66px;
    transition: all 0.2s;
  }
  
  .search1__input:focus {
    outline:none;
    /* width: 80%;  */
    background-color: #f0eeee;
  }
  
  .search1__input::-webkit-input-placeholder {
    font-size: 14px;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    font-weight: 400;
    color: #000000;
  }
  
  .search1__button {
    border: none;
    /* height: -100px; */
    background-color: transparent;
    z-index: 999;
    cursor: pointer;
  }
  
  .search1__button:focus {
    outline: none;
  }
  
  .search1__button:active {
    transform: translateY(2px);
  }
  
  .search1__icon {
    height:25px;
    width: 20px;
    fill: #000000;
  }
  
  .search__bar .search1 .submenu {
    display: none;
    position: absolute;
    top: 80%;
    background-color: white;

    /* top: 110%;
    left: -100px; */
    width: fit-content;
    overflow: hidden;
    border: 1px solid #cccccc;
    border-radius: 0 0 16px 16px;
    opacity: 0;
    transform: translateY(-12px);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
    pointer-events: none;
    list-style: none;
  }
  .search__bar .search1:hover .submenu {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  .search1 .mic__button:hover {
    color: black;
    border-radius: 16px 16px 0 0;
  }
  
  .search1 .mic__button:hover::after {
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .search1 .mic__button:hover svg {
    fill: black;
    transform: rotate(-180deg);
  }
/* first_search__bar end */

  /* searchbar_icons */
  .mic__button {
    border: none;
    background-color: transparent;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .mic__button:focus {
    outline: none;
  }
  
  .mic__button:active {
    transform: translateY(2px);
  }
  
  .mic__icon {
    height: 20px;
    width: 15px;
    fill: #000000;
  }
  
  .mic__icon:hover {
    fill: #dd5e89;
  }
  
  .picture__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .picture__button:focus {
    outline: none;
  }
  
  .picture__button:active {
    transform: translateY(2px);
  }
  
  .picture__icon {
    height: 16px;
    width: 20px;
    fill: #999999;
  }
  
  .picture__icon:hover {
    fill: #dd5e89;
  }
  .search .mic__button{
    position: relative;

  }
  /* end */
  
  /* dropdown menu */
  .submenu .submenu-item {
    width: 100%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    /* color: black; */
  }
  
  .submenu .submenu-link {
    display: block;
    padding: 12px 24px;
    position: absolute;
    width: auto;
    position: relative;
    text-align: center;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-item:last-child .submenu-link {
    border-bottom: none;
  }
  
  .submenu .submenu-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 100%;
    /* text-align: center ; */
    background-color: #FF5F15;
    z-index: -1;
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-link:hover:before {
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .submenu .submenu-link:hover {
    color: #ffffff;
  }

  /* full container for search_bar */
  .search__main .search__bar{
    display: flex;
    width: 70%;
    justify-content: space-between;
  }

  @media screen and (max-width:1200px) {
    .search__main{
      /* gap: 10px; */
      flex-wrap: nowrap;
      width: 100%;
      position: static;
      /* flex-direction: column;
      align-items: center; */
    }
    .search__main .search__bar{
      /* flex-wrap: wrap; */
      /* flex-direction: column; */
      align-items: center;
      gap: 10px;
      position:static;
  }
    
  }

  @media screen and (max-width:1000px) {
    .search__main{
        /* flex-wrap: wrap; */
        flex-direction: column;
        align-items: center;
        gap:20px;
        /* height: 48px; */
        position: static;
        /* margin: 0 auto; */
        width: 100%;
        padding-top:20px;
        padding-bottom: 20px;
        /* padding: 0 200px; */
        height: auto;

    }
    .search__main .search__bar{
        /* flex-wrap: wrap; */
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position:static;
        /* height: 48px; */
    }
    .menu .item:hover .submenu {
        display: block;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        /* height: 48px; */
        
      }

    
  }

  /* still workin on this  */
  /* need help with this */