.search__main{
    width: 1256px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    background-color: #FF5F15;
    margin: 80px auto;
    position: relative;
}
.search__sub{
    position: absolute;
    left: 150px;
}
.search__sub .search__find{
    color: white;
    font-size: 14px;
    font-family: 'poppins';
    font-weight: 300;
}